<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function allSel(bool){
	   var chks=document.getElementsByName("dig_seq");// [seq,seq,seq,seq..]
	   for (var i = 0; i < chks.length; i++) {
	      chks[i].checked=bool;//각각의 체크박스에 체크여부를 true/false로 적용
	   }
	}
	
	function isCheck(){
		if(confirm("정말 삭제 하시겠습니까?")){
			return true;
		}
		return false;
	}
</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
	<div id="container">
		<br><br>
		<h1 style="text-align:center;">진료 목록</h1> 
		<br><br>
		<form th:action="@{/digCal/digMulDel}" method="post"
			  th:object="${delDigCommand}" onsubmit="return isCheck()">
			<table class="table table-hover">
				<col width="50px" />
				<col width="200px" />
				<col width="100px" />
				<col width="150px" />
				<col width="100px" />
				<col width="200px" />
				<tr>
					<th><input type="checkbox" name="all" onclick="allSel(this.checked)"/></th>
					<th>진료일</th>
					<th>환자 번호</th>
					<th>환자 이름</th>
					<th>진료 의사 번호</th>
					<th>병명</th>
				</tr>
				<th:block th:if="${#lists.isEmpty(list)}">
					<tr>
						<td colspan="4" style="text-align: center">작성된 일정이 없습니다.</td>
					</tr>
				</th:block>
				<th:block  th:unless="${#lists.isEmpty(list)}">
					<tr th:each="dto:${list}" >
						<td><input type="checkbox" name="dig_seq" th:value="${dto.dig_seq}"/></td>
						<td th:text="${@util.toDates(dto.dig_date)}" ></td>
						<td>
							<a th:href="@{/digCal/digDetail(dig_seq=${dto.dig_seq})}"  th:text="${dto.pt_seq}"></a>
						</td>
						<td th:text="${pname[0]}" ></td>								
						</span>
						<td th:text="${dto.medi_seq}" ></td>
						<td th:text="${dto.diseas}" ></td>
					</tr>
				</th:block>
				<tr>
					<td colspan="4">
						<button type="submit" title="기록 삭제" class="btn btn-default btn-lg" >
						  <span class="glyphicon glyphicon-trash" ></span>
						</button>
						<button type="button" title="진료 일정[달력]" class="btn btn-default btn-lg"
								th:onclick="|location.href='@{/(year=${session.ymdMap.year},month=${session.ymdMap.month})}'|" >                        
						  <span class="glyphicon glyphicon-calendar" ></span>
						</button> 
						<span class="errorField" th:if="${#fields.hasErrors('dig_seq')}"
												 th:errors="*{dig_seq}"></span>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
</body>
</html>