<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<h1 style="text-align:center; font-weight: bold;">환자 차트</h1>
<form action="/patient/ptInsert" method="get" th:object="${ptInsertCommand}">
		<th:block th:unless="${session.dto==null}">
			<p>
				<span th:text="${session.dto.name}+${session.dto.job}+인증상태" >의료진 인증 상태</span>
			</p>
		</th:block>
		<button style="float: right;" type="button" class="btn btn-default btn-medium" th:onclick="|location.href='@{/patient/mediLogin}'|">의료진 인증</button>
		<br>
	   <h4>환자</h4>
	   <table class="table table-hover">
		<col width="50px" />
		<col width="150px" />
		<col width="100px" />
		<col width="100px" />
		<col width="50px" />
		<col width="80px" />
		<col width="80px" />
		<col width="150px" />
	   	<tr>
				<th>PT_SEQ</th>
				<th>담당 의사 SEQ</th>
				<th>이름</th>
				<th>진료과</th>
				<th>성별</th>
				<th>키</th>
				<th>몸무게</th>
				<th>병명</th>
	   	<tr>
		
		<th:block th:unless="${#lists.isEmpty(list)}">
			<tr th:each="dto:${list}">
				<td th:text="${dto.pt_seq}"></td>
				<td th:text="${dto.medi_seq}"></td>
				<td>
					<a th:href="@{/patient/ptDetail(pt_seq=${dto.pt_seq})}"
					   th:text="${dto.name}"></a>
				</td>
				<td th:text="${dto.dept}"></td>
				<td th:text="${dto.sex}"></td>
				<td th:text="${dto.height}"></td>
				<td th:text="${dto.weight}"></td>
				<td th:text="${dto.diseas}"></td>
			</tr>
		</th:block>
   </table>
   <button type="submit" class="btn btn-default btn-medium">환자 등록</button>
</form>
</div>
</body>
</html>

