<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<h1 style="text-align:center;">의료진 등록</h1>
<form action="/admin/mediInsert" method="post"
	  enctype="multipart/form-data" th:object="${mediInsertCommand}">
	<table class="table">
		<tr>
			<th>직업</th>
			<td>
				<select name="job">    
					<option>--직업 선택--</option>    
					<option value="DR">DR</option>    
					<option value="RN">RN</option>    
				</select>

			</td>
		</tr>
		<tr>
			<th>이름</th>
			<td>
				<input type="text" name="name" th:field="*{name}" 
												class="form-control"/>
				<span th:if="${#fields.hasErrors('name')}" 
					  th:errors="*{name}"></span>
			</td>
		</tr>
		<tr>
			<th>부서</th>
			<td>
				<input type="text" name="dept" th:field="*{dept}" 
												class="form-control"/>
				<span th:if="${#fields.hasErrors('dept')}" 
					  th:errors="*{dept}"></span>
			</td>
		</tr>
		<tr>
			<th>휴대폰번호</th>
			<td>
				<input type="text" name="phone" th:field="*{phone}" 
												class="form-control"/>
				<span th:if="${#fields.hasErrors('phone')}" 
					  th:errors="*{phone}"></span>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<button type="submit" class="btn">등록</button>
				<button type="button" class="btn"
				 th:onclick="|location.href='@{/admin/mediList}'|">의료진 목록</button>
			</td>
		</tr>
	</table>
</form>
</div>
</body>
</html>
