<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function updateEX(){
		if(confirm("수정하시겠습니까?")){
			return true;
		}
		return false
	}
</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<h1 style="text-align:center;">의료진 수정</h1>
<form action="/admin/mediUpdate" method="post" onsubmit="return updateEx()" th:object="${mediUpdateCommand}">
	  <table class="table">
	  	<tr>
	  		<th>SEQ</th>
	  		<td th:text="${dto.medi_seq}"></td>
	  	</tr>
	  	<tr>
	  		<th>직업</th>
	  		<td th:text="${dto.job}"></td>
	  	</tr>
	  	<tr>
	  		<th>이름</th>
	  		<td th:text="${dto.name}"></td>
	  	</tr>
	  	<tr>
	  		<th>부서</th>
	  		<td>
	  			<input type="text" name="dept" th:value="${dto.dept}" class="form-control"/>
	  			<span th:if="${#fields.hasErrors('dept')}" 
	  				  th:errors="*{dept}"></span>
	  		</td>
	  	</tr>
	  	<tr>
	  		<th>휴대전화</th>
	  		<td>
	  			<input type="text" name="phone" th:value="${dto.phone}" class="form-control"/>
	  			<span th:if="${#fields.hasErrors('phone')}" 
	  				  th:errors="*{phone}"></span>
	  		</td>
	  	</tr>
	  	<tr>
	  		<td colspan="2">
	  			<button type="submit" class="btn">수정</button>
	  			<button type="button" class="btn" th:onclick="|location.href='@{/admin/mediDel(medi_seq=${dto.medi_seq})}'|">삭제</button>	  			
	  			<button type="button" class="btn" th:onclick="|location.href='@{/admin/mediList}'|">목록</button>
	  		</td>
	  	</tr>
	  </table>
</form>
</div>
</body>
</html>

